body {
  background-color: black;
}

@font-face {
    font-family: omori;
    src: url('omori.ttf');
}
@media screen and (max-width: 1000px) {
  body {
   border: 0;
  }
}
@mediaall and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}
h1, h2, h3, h4, h5, summary {
    font-family: 'omori', arial;
    color: mediumpurple;
}
p, ul {
    font-family: 'arial';
    color: white;
}
a {
    font-family: 'arial';
    color: red;
}

table, th, td {
    padding: 3px;
    text-align: center;
}
th {
	background-color: mediumpurple;
}
.gris {
	background-color: #ebebeb;
}
.blanc {
	background-color: white;
}
strong {
	color: mediumpurple;
}
details{
	text-align: center;
}
summary{
	
	font-size: 25px;
}

footer {
	display: flex;
    justify-content: center;
    align-items: center;
}
.accueil{
	font-size: 17px;
	text-align: center;
	border-radius: 20px;
	background: white;
	padding: 20px;
	width: 50px;
	height: 15px;
	color: mediumpurple;
}